<div class="center jumbotron">
  <h1>Welcome to <br> El Concon <br> Home of gourmet cooking</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
  <h2>This is the home page for a great cooking experience.</h2>
</div>
<div>
  <%= link_to 'Concon Recipes', recipes_path %>  |  
  <%= link_to 'About', about_path %>  |
  <%= link_to 'Help', help_path %>
</div>
