<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <%= link_to 'El Concon Home', root_path %> &nbsp;
      <%= link_to 'El Concon Recipes', recipes_path %>  |  
      <%= link_to 'About', about_path %>  |
      <%= link_to 'Help', help_path %>
    </small>
  </footer>
</div>
